<ion-toolbar>
  <ion-buttons  slot="start">
    <ion-menu-button  color="light" autoHide="false"></ion-menu-button>

  </ion-buttons>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon color="light" slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title style="text-align: center;color: white;">COACH</ion-title>
</ion-toolbar>



<ion-content class="parent" >

<div class="image1">
  <ion-img  src=" https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1440&q=80

  "
></ion-img>

  <ion-avatar  class="image2">
    <img  src="https://cdn4.iconfinder.com/data/icons/white-sportswoman/512/sport_avatar_woman_girl_-15-512.png">
    <ion-label color="light">Nom prénom</ion-label>

  </ion-avatar>
</div>

<div class="centerchhips">
<ion-chip>
  <ion-label>Photo</ion-label>
</ion-chip>


<ion-chip>
  <ion-label>Publications</ion-label>
</ion-chip>


<ion-chip>
  <ion-label>Calendrier</ion-label>
</ion-chip>

</div>




<ion-item>
  <ion-avatar slot="start">
    <img src="https://cdn4.iconfinder.com/data/icons/white-sportswoman/512/sport_avatar_woman_girl_-15-512.png">
  </ion-avatar>
  <ion-label>
    <h3>Nom prénom</h3>
    <p>coach sportif</p>
  </ion-label>
</ion-item>

<p>..................................................................................................................................................................................</p>

<div class="topnav-right">
  <ion-icon name="arrow-redo-outline"></ion-icon>
  <ion-icon name="bookmark-outline"></ion-icon></div>
