
<ion-content >


  <div class="login_section ion-padding">
    <ion-img  src=" https://w7.pngwing.com/pngs/489/253/png-transparent-circular-economy-logo-ellen-macarthur-foundation-circle-company-service-logo.png

    "
    class="logosignin"></ion-img>
  </div>


  <div class="login_section ion-padding">
   <div class="heading ion-padding">
     <h2 style="text-align: center;color: white;">Créer un compte</h2>
   </div>
  </div>
  <div class="login_section ion-padding">

  <ion-item>

    <ion-label color="primary" position="floating">Nom et prénom</ion-label>
    <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Nom et prénom" required="true"></ion-input>
  </ion-item>
  </div>

  <div class="login_section ion-padding">

    <ion-item>

      <ion-label color="primary" position="floating">Adresse email</ion-label>
      <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Adresse email" required="true"></ion-input>
    </ion-item>
    </div>



  <div class="login_section ion-padding">

    <ion-item>
      <ion-icon name="checkmark-outline" color="primary" slot="end"></ion-icon>

      <ion-label color="primary" position="floating">Mot de passe</ion-label>
      <ion-input type="password" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Mot de passe" required="true"></ion-input>
    </ion-item>
    </div>

    <div class="login_section ion-padding">

      <ion-item>
        <ion-icon name="checkmark-outline" color="primary" slot="end"></ion-icon>

        <ion-label color="primary" position="floating">Mot de passe</ion-label>
        <ion-input type="password" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Mot de passe" required="true"></ion-input>
      </ion-item>
      </div>

    <form >



      <ion-row >
        <ion-col >
          <ion-button  style="   display: block;
          margin-left: auto;
          margin-right: auto
        ;
        width: 50px;
          "  >
            <ion-icon color    slot="icon-only" name="log-in-outline"  ></ion-icon>
          </ion-button>

        </ion-col>
      </ion-row>
    </form>
  </ion-content>
